<div class="card">
  <h3>{{@award.category}} - {{@award.year}}</h3>
  <br/>
  <div class="details">
    <div><b>Laureate: </b> {{@award.laureate.name}}</div>
    <div><b>Country: </b> {{@award.laureate.country}}</div>
    <div><b>Motivation: </b>{{@award.motivation}}</div>
    <div><b>University: </b>{{@award.university}}</div>
  </div>
</div>