<h1>New Book</h1>
<label for="book-title">Title:</label>
<Input
  id="book-title"
  @type="string"
  @value={{this.title}}
/>
<label for="book-isbn">ISBN:</label>
<Input
  id="book-isbn"
  @type="string"
  @value={{this.isbn}}
/>
<label for="authors">Authors:</label>
<select name="authors" id="authors" {{ on 'change' this.selectAuthor }}>
  {{#each @authors as |author|}}
    <option value={{author.id}}>{{author.firstName}} {{author.lastName}}</option>
  {{/each}}

</select>
<button {{ on 'click' this.createBook }}>Create Book</button>
<LinkTo @route="authors.new" class="menu-index">
  <a>Create author</a>
</LinkTo>
